NODE_ENV=
PORT=

MONGO_URI=

CLIENT_ORIGINS=

JWT_SECRET=
JWT_EXPIRES_IN=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
COOKIE_SAME_SITE=lax

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

CLIENT_URL=
BASE_URL=

EMAIL_USER=
BREVO_API_KEY=

GEMINI_API_KEY=